<!-- header -->
<header class="header" data-scroll-header>

    <!-- header-top -->
    <div class="header-top">

      <!-- header-top__inner -->
      <div class="header-top__inner">

        <!-- header__btns--pc -->
        <div class="header__btns--pc">

          <!-- header-sns -->
          <ul class="header-sns">
            <li class="header-sns__item"><a href="" class="header-sns__link" target="_blank"><i class="icon-facebook"></i></a></li>
            <li class="header-sns__item"><a href="" class="header-sns__link" target="_blank"><i class="icon-twitter"></i></a></li>
            <li class="header-sns__item"><a href="" class="header-sns__link" target="_blank"><i class="icon-instagram"></i></a></li>
            <li class="header-sns__item"><a href="" class="header-sns__link" target="_blank"><i class="icon-line"></i></a></li>
          </ul>
          <!-- /header-sns -->

        </div>
        <!-- /header__btns--pc -->

        <!-- header__btns--sp -->
        <div class="header__btns--sp">

          <div class="nav-toggle js-gnav-toggle">
            <div class="nav-toggle__inner">
              <span class="nav-toggle__bar--01"></span>
              <span class="nav-toggle__bar--03"></span>
              <span class="nav-toggle__bar--02"></span>
            </div>
          </div>

        </div>
        <!-- /header__btns--sp -->

        <!-- header-logo -->
        <div class="header-logo">
          <a href="/afd/" class="header-logo__link fade-alpha">
            <img src="https://placehold.jp/cccccc/ffffff/220x128.png?text=LOGO" alt="" class="gnav-logo__img">
          </a>
        </div>
        <!-- /header-logo -->

      </div>
      <!-- /header-top__inner -->

    </div>
    <!-- /header-top -->

  </header>
  <!-- /header -->

  <% include ../../../../_include/gnav_horizontal /* gnav_horizontal or gnav_vertical */ %>

  <div class="overlay" id="overlay"></div>