 <!-- gnav -->
<nav class="gnav">

  <!-- gnav__inner -->
  <div class="gnav__inner">

    <!-- gnav-toggle -->
    <span class="gnav-toggle js-gnav-toggle">
      <span class="gnav-toggle__inner"></span>
    </span>
    <!-- gnav-toggle -->

    <ul class="gnav__menu">

      <!-- gnav-item--primary -->
      <li class="gnav-item--primary gnav-item--primary--facility">
        <a href="/facility/" class="gnav-item__link"><i class="icon-home"></i><span class="gnav-item__text">メニュー1</span></a>
      </li>
      <!-- /gnav-item--primary -->

      <!-- gnav-item--primary -->
      <li class="gnav-item--primary gnav-item--primary--hotel gnav-dropdown">
        <div class="gnav-item__inner">
          <a href="/hotel/" class="gnav-item__link js-dropdown-toggle--sp"><i class="icon-office"></i><span class="gnav-item__text">メニュー2</span></a>
          <span class="gnav-dropdown__icon js-dropdown-toggle--sp"></span>
        </div>
        <ul class="gnav-item--secondary gnav-dropdown__content">
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー1</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー2</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー3</span></a>
          </li>
        </ul>
      </li>
      <!-- /gnav-item--primary -->

      <!-- gnav-item--primary -->
      <li class="gnav-item--primary gnav-item--primary--hotel gnav-dropdown">
        <div class="gnav-item__inner">
          <a href="/hotel/" class="gnav-item__link js-dropdown-toggle--sp"><i class="icon-camera"></i><span class="gnav-item__text">メニュー3</span></a>
          <span class="gnav-dropdown__icon js-dropdown-toggle--sp"></span>
        </div>
        <ul class="gnav-item--secondary gnav-dropdown__content">
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー1</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー2</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー3</span></a>
          </li>
        </ul>
      </li>
      <!-- /gnav-item--primary -->

      <!-- gnav-item--primary -->
      <li class="gnav-item--primary gnav-item--primary--hotel gnav-dropdown">
        <div class="gnav-item__inner">
          <a href="/hotel/" class="gnav-item__link js-dropdown-toggle--sp"><i class="icon-location"></i><span class="gnav-item__text">メニュー4</span></a>
          <span class="gnav-dropdown__icon js-dropdown-toggle--sp"></span>
        </div>
        <ul class="gnav-item--secondary gnav-dropdown__content">
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー1</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー2</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー3</span></a>
          </li>
        </ul>
      </li>
      <!-- /gnav-item--primary -->

      <!-- gnav-item--primary -->
      <li class="gnav-item--primary gnav-item--primary--hotel gnav-dropdown">
        <div class="gnav-item__inner">
          <a href="/hotel/" class="gnav-item__link js-dropdown-toggle--sp"><i class="icon-airplane"></i><span class="gnav-item__text">メニュー5</span></a>
          <span class="gnav-dropdown__icon js-dropdown-toggle--sp"></span>
        </div>
        <ul class="gnav-item--secondary gnav-dropdown__content">
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー1</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー2</span></a>
          </li>
          <li class="gnav-item--tertiary">
            <a href="/hotel/" class="gnav-item__link--tertiary"><i class="icon-cog"></i><span class="gnav-item__text">サブメニュー3</span></a>
          </li>
        </ul>
      </li>
      <!-- /gnav-item--primary -->

      <!-- gnav-item--primary -->
      <li class="gnav-item--primary gnav-item--primary--facility">
        <a href="/facility/" class="gnav-item__link"><i class="icon-cog"></i><span class="gnav-item__text">メニュー6</span></a>
      </li>
      <!-- /gnav-item--primary -->

    </ul>

    <div class="bottomArea">
      <div class="footer-block">
        <div class="contact-info">
          <div class="contact-line color-grey-3 tel is-sp"><i class="fa fa-phone"></i><a href="tel:0897728705">0897-72-8705</a></div>
          <div class="contact-line color-grey-3 is-sp">9：00〜18：00　火曜日定休</div>
        </div>
        <!-- gnav-sns -->
        <ul class="gnav-sns">
          <li class="gnav-sns__item"><a href="" target="_blank" class="gnav-sns__link"><i class="icon-facebook"></i></a></li>
          <li class="gnav-sns__item"><a href="" target="_blank" class="gnav-sns__link"><i class="icon-twitter"></i></a></li>
          <li class="gnav-sns__item"><a href="" class="gnav-sns__link"><i class="icon-mail"></i></a></li>
        </ul>
        <!-- /gnav-sns -->
        <p class="menulogo is-sp"><img src="https://wakka.site/wp-content/themes/wakka/images/common/header_menu_logo_sp.png" alt="WAKKA"></p>
        <p class="copyright is-sp">© 2019 WAKKA</p>
      </div>
    </div>

  </div>
  <!-- /gnav__inner -->

</nav>
<!-- /gnav -->  